# DATA EXTRACTION AND CLEANING

In [1]:
# Loading required libraries
import pandas as pd
import numpy as np

# AIRLINES DELAY DATASET

In [2]:
airlines_delay = pd.read_csv('airlines.csv', header = 0)
airlines_delay

,# of Delays.Carrier,# of Delays.Late Aircraft,# of Delays.National Aviation System,# of Delays.Security,# of Delays.Weather,Cancelled,Carriers.Total,Code,Delayed,Diverted,...,Minutes Delayed.Late Aircraft,Minutes Delayed.National Aviation System,Minutes Delayed.Security,Minutes Delayed.Total,Minutes Delayed.Weather,Month,Month Name,Name,On Time,Year
0,1009,1275,3217,17,328,216,11,ATL,5843,27,...,68335,118831,518,268764,19474,6,June,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",23974,2003
1,374,495,685,3,66,138,14,BOS,1623,3,...,28189,24400,99,77167,4160,6,June,"Boston, MA: Logan International",7875,2003
2,296,477,389,8,78,29,11,BWI,1245,15,...,26810,17556,278,64480,6201,6,June,"Baltimore, MD: Baltimore/Washington Internatio...",6998,2003
3,300,472,735,2,54,73,11,CLT,1562,14,...,23379,23804,127,65865,3792,6,June,"Charlotte, NC: Charlotte Douglas International",7021,2003
4,283,268,487,4,58,74,13,DCA,1100,18,...,13712,20999,120,52747,4141,6,June,"Washington, DC: Ronald Reagan Washington National",5321,2003
5,516,323,664,11,98,34,13,DEN,1611,22,...,18969,23538,706,75428,5581,6,June,"Denver, CO: Denver International",10024,2003
6,986,1390,2147,19,258,394,13,DFW,4798,133,...,80714,90574,683,263521,20632,6,June,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",22303,2003
7,376,371,570,6,71,123,11,DTW,1395,9,...,18715,16482,139,60667,3529,6,June,"Detroit, MI: Detroit Metro Wayne County",10227,2003
8,322,519,1948,10,121,102,13,EWR,2921,42,...,30905,91048,490,150513,7880,6,June,"Newark, NJ: Newark Liberty International",9441,2003
9,247,256,427,5,34,13,11,FLL,967,10,...,14600,14935,141,44303,2080,6,June,"Fort Lauderdale, FL: Fort Lauderdale-Hollywood...",3672,2003
10,320,295,573,3,66,101,13,IAD,1256,35,...,18074,25807,182,65529,4712,6,June,"Washington, DC: Washington Dulles International",7027,2003
11,329,730,1405,15,123,91,12,IAH,2601,173,...,43428,56414,577,134182,11981,6,June,"Houston, TX: George Bush Intercontinental/Houston",12686,2003
12,376,226,394,21,28,24,11,JFK,1046,13,...,11593,14103,659,50335,1951,6,June,"New York, NY: John F. Kennedy International",4695,2003
13,511,678,624,17,64,39,12,LAS,1893,6,...,31043,19561,808,79533,3828,6,June,"Las Vegas, NV: McCarran International",9821,2003
14,830,765,842,37,97,101,12,LAX,2571,10,...,39655,26162,2559,114434,5969,6,June,"Los Angeles, CA: Los Angeles International",15780,2003
15,302,338,867,4,94,121,11,LGA,1604,22,...,18954,41007,191,82859,5323,6,June,"New York, NY: LaGuardia",7161,2003
16,368,434,535,3,48,9,12,MCO,1388,9,...,26116,18073,56,65140,3188,6,June,"Orlando, FL: Orlando International",6211,2003
17,180,411,311,12,39,47,9,MDW,951,6,...,20938,10702,331,42962,2456,6,June,"Chicago, IL: Chicago Midway International",6057,2003
18,247,210,585,2,66,28,11,MIA,1105,22,...,12700,22976,66,52191,3840,6,June,"Miami, FL: Miami International",3745,2003
19,428,376,759,9,106,101,11,MSP,1678,11,...,20994,23137,529,78259,6131,6,June,"Minneapolis, MN: Minneapolis-St Paul Internati...",10404,2003
20,801,982,2947,11,157,261,12,ORD,4899,38,...,55855,135851,604,257007,10401,6,June,"Chicago, IL: Chicago O'Hare International",24997,2003
21,193,248,213,11,22,17,9,PDX,684,5,...,11909,5943,505,27645,1028,6,June,"Portland, OR: Portland International",4040,2003
22,338,565,1083,1,64,83,12,PHL,2049,20,...,31005,45538,21,97173,4131,6,June,"Philadelphia, PA: Philadelphia International",6917,2003
23,491,569,664,19,41,57,12,PHX,1783,10,...,27458,18673,768,76031,2620,6,June,"Phoenix, AZ: Phoenix Sky Harbor International",12158,2003
24,324,349,341,8,30,20,12,SAN,1052,4,...,15747,10449,223,43215,1762,6,June,"San Diego, CA: San Diego International",5775,2003
25,448,552,454,28,36,63,12,SEA,1516,9,...,28119,13860,1097,68673,2950,6,June,"Seattle, WA: Seattle/Tacoma International",7658,2003
26,416,312,1080,14,59,83,11,SFO,1880,9,...,17879,45407,1138,90487,3390,6,June,"San Francisco, CA: San Francisco International",8211,2003
27,363,290,352,15,36,34,10,SLC,1057,0,...,13883,10512,556,42863,1685,6,June,"Salt Lake City, UT: Salt Lake City International",9491,2003
28,226,327,524,3,42,12,11,TPA,1122,11,...,18558,19078,112,51364,2604,6,June,"Tampa, FL: Tampa International",4256,2003
29,1259,1791,4022,13,367,484,11,ATL,7452,71,...,116728,184740,356,418274,29189,7,July,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",22868,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4378,476,480,287,4,43,40,9,TPA,1290,1,...,33165,10365,124,75304,4956,12,December,"Tampa, FL: Tampa International",4748,2015
4379,1163,1505,1196,1,120,429,9,ATL,3984,17,...,96237,47481,33,262474,11815,1,January,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",25424,2016
4380,544,605,396,2,53,274,10,BOS,1601,9,...,40085,15118,240,90747,4331,1,January,"Boston, MA: Logan International",7216,2016
4381,290,353,169,4,20,619,8,BWI,833,11,...,17467,5905,138,41531,1026,1,January,"Baltimore, MD: Baltimore/Washington Internatio...",5711,2016
4382,381,398,467,5,58,615,8,CLT,1309,8,...,21783,14306,115,70606,10362,1,January,"Charlotte, NC: Charlotte Douglas International",7292,2016
4383,364,302,318,4,39,600,10,DCA,1028,10,...,17199,10534,139,48937,2177,1,January,"Washington, DC: Ronald Reagan Washington National",4817,2016
4384,614,785,528,2,69,231,9,DEN,1998,7,...,51138,19698,47,123179,5459,1,January,"Denver, CO: Denver International",15291,2016
4385,725,756,619,7,47,247,9,DFW,2152,15,...,56121,20564,261,147350,3463,1,January,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",14158,2016
4386,422,565,356,0,43,186,10,DTW,1387,26,...,42365,15122,33,98431,4006,1,January,"Detroit, MI: Detroit Metro Wayne County",7864,2016
4387,425,416,447,1,48,836,8,EWR,1337,20,...,27857,23065,40,77405,3459,1,January,"Newark, NJ: Newark Liberty International",6343,2016
4388,574,561,788,7,49,235,9,FLL,1979,22,...,38214,30024,231,103986,5061,1,January,"Fort Lauderdale, FL: Fort Lauderdale-Hollywood...",5429,2016
4389,120,86,70,0,11,242,10,IAD,285,3,...,5453,2309,0,14972,634,1,January,"Washington, DC: Washington Dulles International",2003,2016
4390,448,415,531,3,67,173,8,IAH,1462,40,...,26902,25418,152,90829,6073,1,January,"Houston, TX: George Bush Intercontinental/Houston",9967,2016
4391,543,568,451,9,40,490,6,JFK,1610,21,...,40771,17425,305,98664,4959,1,January,"New York, NY: John F. Kennedy International",5893,2016
4392,497,744,650,4,86,243,11,LAS,1983,23,...,47413,41987,131,128986,7966,1,January,"Las Vegas, NV: McCarran International",9996,2016
4393,907,987,1148,9,82,297,11,LAX,3132,9,...,66995,43477,447,175743,7565,1,January,"Los Angeles, CA: Los Angeles International",12968,2016
4394,504,472,661,3,45,531,10,LGA,1684,16,...,30389,29284,81,100508,3183,1,January,"New York, NY: LaGuardia",5804,2016
4395,668,631,724,4,56,273,10,MCO,2083,6,...,41841,25297,170,110962,4344,1,January,"Orlando, FL: Orlando International",8368,2016
4396,233,340,207,3,47,154,4,MDW,831,13,...,16703,6313,62,37034,3415,1,January,"Chicago, IL: Chicago Midway International",5678,2016
4397,424,297,714,8,49,175,5,MIA,1493,46,...,23808,26050,307,88939,5229,1,January,"Miami, FL: Miami International",4374,2016
4398,432,560,481,2,59,95,9,MSP,1536,7,...,37283,14638,60,99540,5806,1,January,"Minneapolis, MN: Minneapolis-St Paul Internati...",7947,2016
4399,749,993,1228,2,85,391,10,ORD,3059,14,...,68443,53301,277,186921,7169,1,January,"Chicago, IL: Chicago O'Hare International",15141,2016
4400,159,259,92,3,12,34,11,PDX,524,5,...,16451,2993,118,29745,809,1,January,"Portland, OR: Portland International",3580,2016
4401,306,275,199,0,24,359,10,PHL,805,4,...,17540,6876,15,46172,2973,1,January,"Philadelphia, PA: Philadelphia International",4503,2016
4402,572,631,449,3,37,187,10,PHX,1691,7,...,34111,13544,115,88252,3065,1,January,"Phoenix, AZ: Phoenix Sky Harbor International",11150,2016
4403,280,397,171,2,20,97,11,SAN,871,18,...,23023,6021,79,46206,1601,1,January,"San Diego, CA: San Diego International",5030,2016
4404,357,513,351,2,50,104,10,SEA,1274,31,...,32693,11466,73,74017,4324,1,January,"Seattle, WA: Seattle/Tacoma International",8330,2016
4405,560,947,2194,2,119,449,10,SFO,3825,20,...,72557,153416,66,278610,8930,1,January,"San Francisco, CA: San Francisco International",8912,2016
4406,338,540,253,3,38,84,8,SLC,1175,14,...,33682,8057,57,76978,3116,1,January,"Salt Lake City, UT: Salt Lake City International",7426,2016
4407,410,342,312,2,27,146,8,TPA,1095,7,...,21164,11423,37,57774,2593,1,January,"Tampa, FL: Tampa International",4748,2016

In [3]:
#Selecting the following 13 columns from the above dataset:
# (1)# of Delays.Carrier (2)# of Delays.Late Aircraft (3)# of Delays.National Aviation System,
# (4)# of Delays.Security (5)# of Delays.Weather (6)Cancelled (7)Delayed (8)Diverted (9)On Time (10)Year (11)Month
#(12) Month Name (13)Flights.Total
airlines_delay1 = airlines_delay[['# of Delays.Carrier', '# of Delays.Late Aircraft', 
                                  '# of Delays.National Aviation System', '# of Delays.Security',
                                  '# of Delays.Weather', 'Cancelled', 'Delayed', 'Diverted', 'On Time', 'Year', 
                                  'Month', 'Month Name', 'Flights.Total'  ]]
airlines_delay1.head()

,# of Delays.Carrier,# of Delays.Late Aircraft,# of Delays.National Aviation System,# of Delays.Security,# of Delays.Weather,Cancelled,Delayed,Diverted,On Time,Year,Month,Month Name,Flights.Total
0,1009,1275,3217,17,328,216,5843,27,23974,2003,6,June,30060
1,374,495,685,3,66,138,1623,3,7875,2003,6,June,9639
2,296,477,389,8,78,29,1245,15,6998,2003,6,June,8287
3,300,472,735,2,54,73,1562,14,7021,2003,6,June,8670
4,283,268,487,4,58,74,1100,18,5321,2003,6,June,6513

In [4]:
#Selecting the datas for the year 2004 to 2015 from the above dataframe
airlines_delay2 = airlines_delay1.loc[(airlines_delay1['Year'] != 2003) & (airlines_delay1['Year'] != 2016)]
airlines_delay2.head() #'2004_to_2015' tab of the 'air_delay_dfs.xlsx' file

,# of Delays.Carrier,# of Delays.Late Aircraft,# of Delays.National Aviation System,# of Delays.Security,# of Delays.Weather,Cancelled,Delayed,Diverted,On Time,Year,Month,Month Name,Flights.Total
203,1302,1265,4567,15,599,805,7749,18,25766,2004,1,January,34338
204,450,699,642,2,85,468,1879,3,7783,2004,1,January,10133
205,371,611,487,3,60,206,1532,19,6875,2004,1,January,8632
206,303,498,564,0,47,221,1412,16,7450,2004,1,January,9099
207,360,343,490,1,76,336,1269,10,5916,2004,1,January,7531

In [5]:
#Grouping the airlines delay data for 2004 to 2015 by Year and Month Name
airlines_delay3 = airlines_delay2.groupby(['Year','Month Name'])['# of Delays.Carrier',
                                                                 '# of Delays.Late Aircraft', 
                                                                 '# of Delays.National Aviation System',
                                                                 '# of Delays.Security', 
                                                                 '# of Delays.Weather','Delayed','Diverted',
                                                                 'Cancelled','On Time','Flights.Total'].sum()
airlines_delay3 # 'year_and_month' tab of the 'air_delay_dfs.xlsx' file

                 # of Delays.Carrier  # of Delays.Late Aircraft  \
Year Month Name
2004 April                     12133                      15042
     August                    17385                      23222
     December                  23455                      29141
     Febuary                   13330                      18174
     January                   16806                      19907
     July                      19453                      24777
     June                      18913                      26191
     March                     13041                      17260
     May                       14260                      19697
     November                  14856                      19366
     October                   13908                      17896
     September                 11320                      11952
2005 April                     13850                      15672
     August                    21225                      26606
     December                  24912                      29255
     Febuary                   15426                      19070
     January                   20316                      25621
     July                      23809                      33544
     June                      20241                      27115
     March                     19269                      24405
     May                       14410                      17078
     November                  15987                      17978
     October                   15086                      18213
     September                 14174                      15003
2006 April                     17778                      24539
     August                    22132                      28764
     December                  25064                      32793
     Febuary                   17409                      22719
     January                   18370                      20513
     July                      25006                      32354
...                              ...                        ...
2013 June                      20916                      37144
     March                     15344                      23879
     May                       15261                      24507
     November                  12955                      17757
     October                   13088                      18808
     September                 12592                      17914
2014 April                     14284                      22187
     August                    17390                      25532
     December                  18206                      25887
     Febuary                   16456                      24416
     January                   20771                      28764
     July                      19080                      29212
     June                      19801                      32170
     March                     17152                      25154
     May                       16834                      25020
     November                  13788                      19473
     October                   14529                      21156
     September                 12751                      17883
2015 April                     15017                      18390
     August                    17355                      22412
     December                  18248                      23910
     Febuary                   16646                      21549
     January                   16476                      21901
     July                      19600                      27109
     June                      21192                      28231
     March                     17829                      22603
     May                       15961                      20694
     November                  13164                      15317
     October                   11874                      12591
     September                 11614                      12734

                 # of Delays.National Aviation System  # of Delays.Security  \
Year Month Name
2004 April                                      29267                   196
     August                                     33344                   237
     December                                   38884                   517
     Febuary                                    36885                   240
     January                                    39372                   302
     July                                       35665                   258
     June                                       41450                   285
     March                                      32334                   215
     May                                        37464                   147
     November                                   32943                   262
     October                                    31251                   184
     September                                  21798                   241
2005 April                                      24502                   141
     August                                     36184                   269
     December                                   39917                   329
     Febuary                                    33854                   116
     January                                    38752                   262
     July                                       42890                   240
     June                                       38289                   162
     March                                      36127                   232
     May                                        25865                   106
     November                                   31794                   113
     October                                    29769                   133
     September                                  24089                   109
2006 April                                      31035                   203
     August                                     31852                  1135
     December                                   37676                   396
     Febuary                                    33540                   220
     January                                    31229                   153
     July                                       31810                   174
...                                               ...                   ...
2013 June                                       30582                   133
     March                                      22817                   118
     May                                        25026                    97
     November                                   16785                   174
     October                                    18574                    97
     September                                  16621                    82
2014 April                                      20804                    71
     August                                     23012                   109
     December                                   24964                   102
     Febuary                                    21699                    69
     January                                    22571                    92
     July                                       23917                    87
     June                                       27970                   107
     March                                      20935                    68
     May                                        23041                    90
     November                                   20041                    51
     October                                    24498                    52
     September                                  21084                    89
2015 April                                      20027                    51
     August                                     20538                   145
     December                                   20853                   215
     Febuary                                    21583                    71
     January                                    21892                    93
     July                                       22593                   111
     June                                       24627                   105
     March                                      21372                    74
     May                                        20370                    86
     November                                   16898                   116
     October                                    15018                    52
     September                                  15040                    87

                 # of Delays.Weather  Delayed  Diverted  Cancelled  On Time  \
Year Month Name
2004 April                      1679    58312       442       2761   293728
     August                     3625    77798       828       6798   295332
     December                   4019    96020       723       8289   264441
     Febuary                    2895    71538       404       5759   258818
     January                    3970    80339       523      10886   262713
     July                       3406    83548      1116       6468   284584
     June                       4366    91212      1271       5337   261850
     March                      1735    64598       520       4808   295814
     May                        3140    74715      1168       6278   280241
     November                   2711    70143       597       4445   281639
     October                    2321    65533       429       3974   301982
     September                  1617    46921       710      12137   296245
2005 April                      1628    55790       508       4616   300762
     August                     3224    87507      1267       7967   289373
     December                   3376    97791       620       6810   251742
     Febuary                    2322    70800       450       5832   253640
     January                    4156    89103       968      15603   255084
     July                       4540   105024      1470       8518   270074
     June                       3573    89380      1038       6262   276208
     March                      2778    82806       612       6169   285676
     May                        1958    59404       613       3582   312337
     November                   1899    67749       550       3358   277599
     October                    2031    65223       481       7492   292480
     September                  1625    55001       401       6979   290803
2006 April                      2031    75593       696       3978   283788
     August                     3307    87181      1189       6273   294702
     December                   3373    99305       837      11595   263879
     Febuary                    2567    76449       730       7768   246955
     January                    2814    73082       865       6375   281800
     July                       3815    93169      1439       7008   283275
...                              ...      ...       ...        ...      ...
2013 June                       3423    92206      1410       6457   256236
     March                      1672    63831       583       6021   283971
     May                        1871    66752      1001       3844   281488
     November                   1003    48679       536       3319   273282
     October                     756    51343       449       2089   292956
     September                  1343    48547       766       2914   278499
2014 April                      1235    58579       706       3496   254185
     August                     2180    68222      1081       3701   261100
     December                   1149    70317       523       4087   239692
     Febuary                    2214    64864       645      16212   200217
     January                    3862    76060       828      19813   212422
     July                       2596    74881      1158       5525   260262
     June                       2867    82914      1288       6311   239437
     March                      1310    64623       429       6509   258671
     May                        1940    66919      1295       6108   253577
     November                   1228    54590       417       2687   246368
     October                    1067    61301       513       3214   259298
     September                  1233    53044       676       4245   251641
2015 April                      1704    55180       975       2962   263074
     August                     2370    62805      1161       3327   273384
     December                   2047    65258       876       5226   247599
     Febuary                    2966    62808       571      13787   207301
     January                    1995    62357       530       8329   240093
     July                       2183    71603      1101       3199   270531
     June                       2894    77051      1477       6039   250999
     March                      1583    63470       731       7546   262689
     May                        2250    59366      1112       3571   267123
     November                   1226    46720       705       2867   260371
     October                     793    40332       525       1534   281941
     September                  1383    40850       492       1383   267347

                 Flights.Total
Year Month Name
2004 April              355243
     August             380756
     December           369473
     Febuary            336519
     January            354461
     July               375716
     June               359670
     March              365740
     May                362402
     November           356824
     October            371918
     September          356013
2005 April              361676
     August             386114
     December           356963
     Febuary            330722
     January            360758
     July               385086
     June               372888
     March              375263
     May                375936
     November           349256
     October            365676
     September          353184
2006 April              364055
     August             389345
     December           375616
     Febuary            331902
     January            362122
     July               384891
...                        ...
2013 June               356309
     March              354406
     May                353085
     November           325816
     October            346837
     September          330726
2014 April              316966
     August             334104
     December           314619
     Febuary            281938
     January            309123
     July               341826
     June               329950
     March              330232
     May                327899
     November           304062
     October            324326
     September          309606
2015 April              322191
     August             340677
     December           318959
     Febuary            284467
     January            311309
     July               346434
     June               335566
     March              334436
     May                331172
     November           310663
     October            324332
     September          310072

[144 rows x 10 columns]

In [6]:
#Grouping the airlines delay data for 2004 to 2015 by Year
airlines_delay4 = airlines_delay2.groupby(['Year'])['# of Delays.Carrier','# of Delays.Late Aircraft',
                                                    '# of Delays.National Aviation System', 
                                                    '# of Delays.Security', '# of Delays.Weather','Delayed',
                                                    'Diverted','Cancelled','On Time','Flights.Total'].sum()
airlines_delay4 #'delay_by_year' tab of the 'air_delay_dfs.xlsx' file

,# of Delays.Carrier,# of Delays.Late Aircraft,# of Delays.National Aviation System,# of Delays.Security,# of Delays.Weather,Delayed,Diverted,Cancelled,On Time,Flights.Total
Year,,,,,,,,,,
2004,188860,242625,410657,3084,35484,880677,8731,77940,3377387,4344735
2005,218705,269560,402032,2212,33110,925578,8978,83188,3355778,4373522
2006,244002,323979,417756,3555,35307,1024612,11058,78475,3323807,4437952
2007,273234,369520,444187,2941,39531,1129439,11510,102665,3294874,4538488
2008,217264,306661,408170,1860,31237,965136,11245,87650,3243618,4307649
2009,174185,247225,339737,1343,25065,787472,9780,58341,3183307,4038900
2010,178490,253551,277309,1770,21440,732445,9783,75018,3233526,4050772
2011,173633,255142,266026,1373,19402,715560,9364,77467,3120904,3923295
2012,172162,241010,225322,1240,18592,658326,7941,53494,3235628,3955389
2013,195255,304028,282015,1441,22323,805063,9454,62054,3231826,4108397
2014,201042,296854,274536,987,22881,796314,9559,81908,2936870,3824651
2015,194976,247441,240811,1206,23394,707800,10256,59770,3092452,3870278

In [7]:
# Transposing the airlines delay by year
airlines_delay4T = airlines_delay4.T
airlines_delay4T

Year,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
# of Delays.Carrier,188860,218705,244002,273234,217264,174185,178490,173633,172162,195255,201042,194976
# of Delays.Late Aircraft,242625,269560,323979,369520,306661,247225,253551,255142,241010,304028,296854,247441
# of Delays.National Aviation System,410657,402032,417756,444187,408170,339737,277309,266026,225322,282015,274536,240811
# of Delays.Security,3084,2212,3555,2941,1860,1343,1770,1373,1240,1441,987,1206
# of Delays.Weather,35484,33110,35307,39531,31237,25065,21440,19402,18592,22323,22881,23394
Delayed,880677,925578,1024612,1129439,965136,787472,732445,715560,658326,805063,796314,707800
Diverted,8731,8978,11058,11510,11245,9780,9783,9364,7941,9454,9559,10256
Cancelled,77940,83188,78475,102665,87650,58341,75018,77467,53494,62054,81908,59770
On Time,3377387,3355778,3323807,3294874,3243618,3183307,3233526,3120904,3235628,3231826,2936870,3092452
Flights.Total,4344735,4373522,4437952,4538488,4307649,4038900,4050772,3923295,3955389,4108397,3824651,3870278

In [8]:
#Grouping the airlines delay data for 2004 to 2015 by Month Name
airlines_delay5 = airlines_delay2.groupby('Month Name')['# of Delays.Carrier','# of Delays.Late Aircraft', 
                                                        '# of Delays.National Aviation System',
                                                        '# of Delays.Security', '# of Delays.Weather','Delayed'
                                                        ,'Diverted','Cancelled','On Time','Flights.Total'].sum()
airlines_delay5 #'delay_by_month' tab of the 'air_delay_dfs.xlsx' file

,# of Delays.Carrier,# of Delays.Late Aircraft,# of Delays.National Aviation System,# of Delays.Security,# of Delays.Weather,Delayed,Diverted,Cancelled,On Time,Flights.Total
Month Name,,,,,,,,,,
April,181262,251618,312505,1592,20177,767134,8599,55172,3297188,4128093
August,223923,310241,328726,3019,31175,896956,13125,68071,3402476,4380628
December,253265,352327,380729,3002,34986,1024311,8875,100021,2961899,4095106
Febuary,185021,258725,327089,1663,29011,801497,6945,125630,2827502,3761574
January,206549,273062,345130,2168,33878,860763,7951,119659,3076548,4064921
July,250797,362986,367650,2003,37473,1020884,15811,74303,3297376,4408374
June,244551,357629,387437,2006,38867,1030437,16127,76303,3133090,4255957
March,209490,292867,346213,1971,24111,874674,8171,77751,3314842,4275438
May,187871,264997,336636,1470,26141,817071,11524,53908,3355543,4238046
November,161278,208718,280306,1399,16552,668226,6216,39712,3262708,3976862
October,172671,232330,316317,1411,17606,740313,6829,53031,3380089,4180262
September,155130,192096,259820,1308,17789,626156,7486,54409,3320716,4008767

In [9]:
#Creating the cleaned Excel file for the airlines delay data which consists of data for the year 2004 to 2015 for
#the selected columns, airlines delay data for the year 2004 to 2015 grouped by year and month, grouped by year, 
#and grouped by month respectively
writer = pd.ExcelWriter('AIRLINES_DELAY.xlsx')
airlines_delay2.to_excel(writer,'2004_to_2015')
airlines_delay3.to_excel(writer,'year_and_month')
airlines_delay4.to_excel(writer,'delay_by_year')
airlines_delay5.to_excel(writer,'delay_by_month')
writer.save()

# AIRLINES SAFETY DATASET

In [10]:
airlines_safety = pd.read_csv('airline-safety.csv', header = 0, index_col = 0)
airlines_safety.head()

,avail_seat_km_per_week,incidents_85_99,fatal_accidents_85_99,fatalities_85_99,incidents_00_14,fatal_accidents_00_14,fatalities_00_14
airline,,,,,,,
Aer Lingus,320906734,2,0,0,0,0,0
Aeroflot*,1197672318,76,14,128,6,1,88
Aerolineas Argentinas,385803648,6,0,0,1,0,0
Aeromexico*,596871813,3,1,64,5,0,0
Air Canada,1865253802,2,0,0,2,0,0

In [11]:
#Just getting the incidents, fatal accidents, and fatalities between 2000 to 2014 by dropping 1985 to 1999 data
airlines_safety_00_14 = airlines_safety.drop(['incidents_85_99', 'fatal_accidents_85_99', 'fatalities_85_99'],
                                            axis = 1)
airlines_safety_00_14.head()

,avail_seat_km_per_week,incidents_00_14,fatal_accidents_00_14,fatalities_00_14
airline,,,,
Aer Lingus,320906734,0,0,0
Aeroflot*,1197672318,6,1,88
Aerolineas Argentinas,385803648,1,0,0
Aeromexico*,596871813,5,0,0
Air Canada,1865253802,2,0,0

In [12]:
#Creating the cleaned Excel file for the airlines safety data which consists of the entire data in one tab, and
#just the data of the years 2000 through 2014 in another tab
writer = pd.ExcelWriter('AIRLINES_SAFETY_1.xlsx')
airlines_safety.to_excel(writer,'1985-2014')
airlines_safety_00_14.to_excel(writer,'2000-2014')
writer.save()

In [13]:
##DIVIDNG AIRLINES SAFETY INTO VARIOUS LEVELS USING DIFFERENT CRITERIAS (2000 - 2014 data)
#Airlines Safety_Level_A includes airlines with no incidents, no fatal accidents, and no fatalities
airlines_safety_00_14_A= airlines_safety_00_14.loc[(airlines_safety_00_14['incidents_00_14']== 0) & 
                                           (airlines_safety_00_14['fatal_accidents_00_14']== 0) & 
                                           (airlines_safety_00_14['fatalities_00_14']== 0)]
airlines_safety_00_14_A

,avail_seat_km_per_week,incidents_00_14,fatal_accidents_00_14,fatalities_00_14
airline,,,,
Aer Lingus,320906734,0,0,0
Avianca,396922563,0,0,0
Condor,417982610,0,0,0
COPA,550491507,0,0,0
Finnair,506464950,0,0,0
Japan Airlines,1574217531,0,0,0
LAN Airlines,1001965891,0,0,0
TAP - Air Portugal,619130754,0,0,0
Virgin Atlantic,1005248585,0,0,0

In [14]:
#Airlines Safety_Level_B includes airlines with no fatal accidents, and no fatalities, but have incidents
airlines_safety_00_14_B= airlines_safety_00_14.loc[(airlines_safety_00_14['fatal_accidents_00_14']== 0) &
                                           (airlines_safety_00_14['fatalities_00_14']== 0)]
airlines_safety_00_14_B

,avail_seat_km_per_week,incidents_00_14,fatal_accidents_00_14,fatalities_00_14
airline,,,,
Aer Lingus,320906734,0,0,0
Aerolineas Argentinas,385803648,1,0,0
Aeromexico*,596871813,5,0,0
Air Canada,1865253802,2,0,0
Alitalia,698012498,4,0,0
All Nippon Airways,1841234177,7,0,0
Austrian Airlines,358239823,1,0,0
Avianca,396922563,0,0,0
British Airways*,3179760952,6,0,0
Cathay Pacific*,2582459303,2,0,0
Condor,417982610,0,0,0
COPA,550491507,0,0,0
El Al,335448023,1,0,0
Finnair,506464950,0,0,0
Hawaiian Airlines,493877795,1,0,0
Iberia,1173203126,5,0,0
Japan Airlines,1574217531,0,0,0
KLM*,1874561773,1,0,0
Korean Air,1734522605,1,0,0
LAN Airlines,1001965891,0,0,0
Lufthansa*,3426529504,3,0,0
Qantas*,1917428984,5,0,0
Royal Air Maroc,295705339,3,0,0
Saudi Arabian,859673901,11,0,0
South African,651502442,1,0,0
Southwest Airlines,3276525770,8,0,0
Sri Lankan / AirLanka,325582976,4,0,0
SWISS*,792601299,3,0,0
TAP - Air Portugal,619130754,0,0,0
Vietnam Airlines,625084918,1,0,0
Virgin Atlantic,1005248585,0,0,0
Xiamen Airlines,430462962,2,0,0

In [15]:
#Airlines Safety_Level_C includes airlines with fatalities less than 10
airlines_safety_00_14_C= airlines_safety_00_14.loc[(airlines_safety_00_14['fatalities_00_14'] < 10) & 
                                       (airlines_safety_00_14['fatalities_00_14'] != 0)]
airlines_safety_00_14_C

,avail_seat_km_per_week,incidents_00_14,fatal_accidents_00_14,fatalities_00_14
airline,,,,
Air New Zealand*,710174817,5,1,7
Philippine Airlines,413007158,2,1,1
TACA,259373346,1,1,3
Thai Airways,1702802250,2,1,1

In [16]:
#Airlines Safety_Level_D includes airlines with fatalities less than 50
airlines_safety_00_14_D = airlines_safety_00_14.loc[(airlines_safety_00_14['fatalities_00_14'] < 50) & 
                                             (airlines_safety_00_14['fatalities_00_14'] != 0)]
airlines_safety_00_14_D

,avail_seat_km_per_week,incidents_00_14,fatal_accidents_00_14,fatalities_00_14
airline,,,,
Air New Zealand*,710174817,5,1,7
Egyptair,557699891,4,1,14
Garuda Indonesia,613356665,4,2,22
Pakistan International,348563137,10,2,46
Philippine Airlines,413007158,2,1,1
TACA,259373346,1,1,3
Thai Airways,1702802250,2,1,1
US Airways / America West*,2455687887,11,2,23

In [17]:
#Airlines Safety_Level_E includes airlines with fatalities less than 100
airlines_safety_00_14_E= airlines_safety_00_14.loc[(airlines_safety_00_14['fatalities_00_14'] < 100) & 
                                               (airlines_safety_00_14['fatalities_00_14'] != 0)]
airlines_safety_00_14_E

,avail_seat_km_per_week,incidents_00_14,fatal_accidents_00_14,fatalities_00_14
airline,,,,
Aeroflot*,1197672318,6,1,88
Air New Zealand*,710174817,5,1,7
Alaska Airlines*,965346773,5,1,88
Delta / Northwest*,6525658894,24,2,51
Egyptair,557699891,4,1,14
Ethiopian Airlines,488560643,5,2,92
Garuda Indonesia,613356665,4,2,22
Pakistan International,348563137,10,2,46
Philippine Airlines,413007158,2,1,1
Singapore Airlines,2376857805,2,1,83
TACA,259373346,1,1,3
Thai Airways,1702802250,2,1,1
Turkish Airlines,1946098294,8,2,84
US Airways / America West*,2455687887,11,2,23

In [18]:
#Airlines Safety_Level_F includes airlines with fatalities greater than 100
airlines_safety_00_14_F = airlines_safety_00_14.loc[(airlines_safety_00_14['fatalities_00_14'] > 100) &
                                                (airlines_safety_00_14['fatalities_00_14'] != 0)]
airlines_safety_00_14_F

,avail_seat_km_per_week,incidents_00_14,fatal_accidents_00_14,fatalities_00_14
airline,,,,
Air France,3004002661,6,2,337
Air India*,869253552,4,1,158
American*,5228357340,17,3,416
China Airlines,813216487,2,1,225
Gulf Air,301379762,3,1,143
Kenya Airways,277414794,2,2,283
Malaysia Airlines,1039171244,3,2,537
SAS*,682971852,6,1,110
TAM,1509195646,7,2,188
United / Continental*,7139291291,14,2,109

In [19]:
#Creating the cleaned Excel file for the airlines safety data which consists of safety levels A to F as mentioned 
#above
writer = pd.ExcelWriter('AIRLINES_SAFETY_2.xlsx')
airlines_safety_00_14_A.to_excel(writer,'Safety_Level_A')
airlines_safety_00_14_B.to_excel(writer,'Safety_Level_B')
airlines_safety_00_14_C.to_excel(writer,'Safety_Level_C')
airlines_safety_00_14_D.to_excel(writer,'Safety_Level_D')
airlines_safety_00_14_E.to_excel(writer,'Safety_Level_E')
airlines_safety_00_14_F.to_excel(writer,'Safety_Level_F')
writer.save()

# AIRLINES REVENUE DATASET

In [20]:
airlines_revenue = pd.read_excel('System Total Operating Revenue.xls', header = 2, index_col = 0)
airlines_revenue.head()

,Unnamed: 1,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
American,NaN,15.610201,15.136003,15.855804,16.298846,16.090263,18.117124,15.638794,15.870616,17.403324,...,23.696099,19.898245,22.150940,23.957565,24.825067,25.760245,27.140391,41.084426,40.421537,42.195316
Continental,NaN,4.919025,5.487150,6.360742,7.298958,8.026597,9.129295,7.971663,7.352780,7.333412,...,15.032887,12.361386,14.011495,16.174879,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Delta,NaN,12.557276,13.317693,14.203939,14.629825,14.901352,15.320850,13.211188,12.410395,14.203030,...,20.972590,18.046578,31.893702,35.315717,36.916967,37.818194,40.426454,40.815767,39.849613,41.475860
Northwest,NaN,8.908851,9.751383,9.983693,8.706718,9.868061,10.956638,9.591793,9.151583,9.183813,...,14.095692,10.863304,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [21]:
#Selecting revenue(US $ billions) of 16 US Airlines from 2003 to 2016
airlines_revenue1 = airlines_revenue.loc[['American','Continental','Delta','Northwest','United','US Airways',
                                          'America West','Southwest','jetBlue','AirTran','Frontier',
                                          'Virgin America','Alaska','Hawaiian','Spirit','Allegiant'],[2003, 2004,
                                        2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]]
airlines_revenue1

,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
American,17.403324,18.607553,20.657147,22.493347,22.832757,23.696099,19.898245,22.150940,23.957565,24.825067,25.760245,27.140391,41.084426,40.421537
Continental,7.333412,9.851366,11.108038,13.010390,14.105361,15.032887,12.361386,14.011495,16.174879,0.000000,0.000000,0.000000,0.000000,0.000000
Delta,14.203030,15.154479,16.111713,17.339136,19.238800,20.972590,18.046578,31.893702,35.315717,36.916967,37.818194,40.426454,40.815767,39.849613
Northwest,9.183813,11.265608,12.315547,12.554941,12.734621,14.095692,10.863304,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
United,13.397729,15.701169,17.304154,19.333859,20.049094,20.237248,16.359238,19.682320,21.155218,37.160167,38.287134,38.900519,37.864132,36.555880
US Airways,6.761645,7.073132,7.212379,11.845203,12.054991,12.459197,10.780838,12.195807,13.340511,14.121027,14.935551,15.750072,0.000000,0.000000
America West,2.223348,2.481516,3.397189,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Southwest,5.936696,6.529620,7.583837,9.086299,9.860783,11.023243,10.350338,12.103710,13.654641,17.087612,17.699434,18.605116,19.820110,20.425210
jetBlue,0.998351,1.265972,1.703181,2.363258,2.843155,3.390181,3.287412,3.780816,4.508899,4.982014,5.441828,5.816877,6.416127,6.632433
AirTran,0.918039,1.041422,1.450543,1.893355,2.308824,2.552478,2.341442,2.619172,2.941625,0.000000,0.000000,0.000000,0.000000,0.000000
Frontier,0.590063,0.787227,0.960340,1.131705,1.334364,1.370900,1.113397,1.316949,1.661914,1.433466,1.348551,1.574869,1.604012,1.713577
Virgin America,0.000000,0.000000,0.000000,0.000000,0.016155,0.369248,0.547645,0.724877,1.037109,1.332837,1.424678,1.489967,1.529584,1.664991
Alaska,2.027376,2.241387,2.416130,2.692507,3.076265,3.221431,3.005999,3.426625,4.309602,4.650001,5.150814,5.363353,5.594087,5.827853
Hawaiian,0.706144,0.784687,0.823881,0.881599,0.982746,1.211733,1.183619,1.312221,1.651121,1.962570,2.155554,2.311201,2.313157,2.441525
Spirit,0.450067,0.483266,0.484449,0.540294,0.761585,0.791001,0.698966,0.778905,1.071187,1.318388,1.654385,1.931581,2.141463,2.321957
Allegiant,0.000000,0.101946,0.132501,0.229858,0.340054,0.483080,0.536465,0.635459,0.745038,0.869236,0.957824,1.099662,1.221507,1.317315

In [22]:
#Selecting revenue(US $ billions) of 10 US Airlines from 2003 to 2016
#Continental, Northwest, US Airways, America West, AirTran, and Virgin America Airlines were skipped because they
#had many missing revenues 
airlines_revenue2 = airlines_revenue.loc[['American','Delta','United','Southwest','jetBlue','Frontier','Alaska',
                                          'Hawaiian','Spirit','Allegiant'],[2003, 2004, 2005, 2006, 2007, 2008, 
                                            2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]]
airlines_revenue2

,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
American,17.403324,18.607553,20.657147,22.493347,22.832757,23.696099,19.898245,22.150940,23.957565,24.825067,25.760245,27.140391,41.084426,40.421537
Delta,14.203030,15.154479,16.111713,17.339136,19.238800,20.972590,18.046578,31.893702,35.315717,36.916967,37.818194,40.426454,40.815767,39.849613
United,13.397729,15.701169,17.304154,19.333859,20.049094,20.237248,16.359238,19.682320,21.155218,37.160167,38.287134,38.900519,37.864132,36.555880
Southwest,5.936696,6.529620,7.583837,9.086299,9.860783,11.023243,10.350338,12.103710,13.654641,17.087612,17.699434,18.605116,19.820110,20.425210
jetBlue,0.998351,1.265972,1.703181,2.363258,2.843155,3.390181,3.287412,3.780816,4.508899,4.982014,5.441828,5.816877,6.416127,6.632433
Frontier,0.590063,0.787227,0.960340,1.131705,1.334364,1.370900,1.113397,1.316949,1.661914,1.433466,1.348551,1.574869,1.604012,1.713577
Alaska,2.027376,2.241387,2.416130,2.692507,3.076265,3.221431,3.005999,3.426625,4.309602,4.650001,5.150814,5.363353,5.594087,5.827853
Hawaiian,0.706144,0.784687,0.823881,0.881599,0.982746,1.211733,1.183619,1.312221,1.651121,1.962570,2.155554,2.311201,2.313157,2.441525
Spirit,0.450067,0.483266,0.484449,0.540294,0.761585,0.791001,0.698966,0.778905,1.071187,1.318388,1.654385,1.931581,2.141463,2.321957
Allegiant,0.000000,0.101946,0.132501,0.229858,0.340054,0.483080,0.536465,0.635459,0.745038,0.869236,0.957824,1.099662,1.221507,1.317315

In [23]:
#Selecting revenue(US $ billions) of 10 US Airlines from 2007 to 2016
airlines_revenue3 = airlines_revenue.loc[['American','Delta','United','Southwest','jetBlue','Frontier','Alaska',
                                          'Hawaiian','Spirit','Allegiant'],[2007, 2008, 2009, 2010, 2011, 2012, 
                                                                            2013, 2014, 2015, 2016]]
airlines_revenue3

,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
American,22.832757,23.696099,19.898245,22.150940,23.957565,24.825067,25.760245,27.140391,41.084426,40.421537
Delta,19.238800,20.972590,18.046578,31.893702,35.315717,36.916967,37.818194,40.426454,40.815767,39.849613
United,20.049094,20.237248,16.359238,19.682320,21.155218,37.160167,38.287134,38.900519,37.864132,36.555880
Southwest,9.860783,11.023243,10.350338,12.103710,13.654641,17.087612,17.699434,18.605116,19.820110,20.425210
jetBlue,2.843155,3.390181,3.287412,3.780816,4.508899,4.982014,5.441828,5.816877,6.416127,6.632433
Frontier,1.334364,1.370900,1.113397,1.316949,1.661914,1.433466,1.348551,1.574869,1.604012,1.713577
Alaska,3.076265,3.221431,3.005999,3.426625,4.309602,4.650001,5.150814,5.363353,5.594087,5.827853
Hawaiian,0.982746,1.211733,1.183619,1.312221,1.651121,1.962570,2.155554,2.311201,2.313157,2.441525
Spirit,0.761585,0.791001,0.698966,0.778905,1.071187,1.318388,1.654385,1.931581,2.141463,2.321957
Allegiant,0.340054,0.483080,0.536465,0.635459,0.745038,0.869236,0.957824,1.099662,1.221507,1.317315

In [24]:
#Creating the cleaned Excel file for the airlines revenue data which consists of three tabs: (1) 2003-2016 revenues
#of 16 US Airlines, (2) 2003-2016 revenues of 10 US Airlines, and (3) 2007-2016 revenues of 10 US Airlines
writer = pd.ExcelWriter('AIRLINES_REVENUE.xlsx')
airlines_revenue1.to_excel(writer,'2003-2016-16')
airlines_revenue2.to_excel(writer,'2003-2016-10')
airlines_revenue3.to_excel(writer,'2007-2016-10')
writer.save()

# AIRLINES PASSENGER DATASET

In [25]:
airlines_passenger = pd.read_csv('Air_Traffic_Passenger_Statistics.csv')
airlines_passenger

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,201812,ABC Aerolineas S.A. de C.V. dba Interjet,4O,ABC Aerolineas S.A. de C.V. dba Interjet,4O,International,Mexico,Deplaned,Other,International,A,5179
1,201812,Volaris Airlines,Y4,Volaris Airlines,Y4,International,Mexico,Enplaned,Low Fare,International,A,2791
2,201812,Volaris Airlines,Y4,Volaris Airlines,Y4,International,Mexico,Deplaned,Low Fare,International,A,2111
3,201812,Virgin Atlantic,VS,Virgin Atlantic,VS,International,Europe,Enplaned,Other,International,A,11359
4,201812,Virgin Atlantic,VS,Virgin Atlantic,VS,International,Europe,Deplaned,Other,International,A,10645
5,201812,United Airlines,UA,United Airlines,UA,International,Middle East,Enplaned,Other,International,G,6652
6,201812,United Airlines,UA,United Airlines,UA,International,Middle East,Deplaned,Other,International,G,6353
7,201812,United Airlines,UA,United Airlines,UA,International,Mexico,Enplaned,Other,Terminal 3,F,18646
8,201812,United Airlines,UA,United Airlines,UA,International,Mexico,Enplaned,Other,Terminal 3,E,13489
9,201812,United Airlines,UA,United Airlines,UA,International,Mexico,Enplaned,Other,International,G,3705
10,201812,United Airlines,UA,United Airlines,UA,International,Mexico,Deplaned,Other,International,G,30085
11,201812,United Airlines,UA,United Airlines,UA,International,Europe,Enplaned,Other,International,G,33020
12,201812,United Airlines,UA,United Airlines,UA,International,Europe,Deplaned,Other,International,G,33074
13,201812,United Airlines,UA,United Airlines,UA,International,Canada,Enplaned,Other,Terminal 3,F,5501
14,201812,United Airlines,UA,United Airlines,UA,International,Canada,Deplaned,Other,Terminal 3,F,5500
15,201812,United Airlines,UA,United Airlines,UA,International,Canada,Enplaned,Other,Terminal 3,E,3694
16,201812,United Airlines,UA,United Airlines,UA,International,Canada,Deplaned,Other,Terminal 3,E,3373
17,201812,United Airlines,UA,United Airlines,UA,International,Canada,Thru / Transit,Other,International,G,10
18,201812,United Airlines,UA,United Airlines,UA,International,Canada,Enplaned,Other,International,G,643
19,201812,United Airlines,UA,United Airlines,UA,International,Australia / Oceania,Enplaned,Other,International,G,18773
20,201812,United Airlines,UA,United Airlines,UA,International,Australia / Oceania,Deplaned,Other,International,G,18562
21,201812,United Airlines,UA,United Airlines,UA,International,Asia,Enplaned,Other,International,G,88601
22,201812,United Airlines,UA,United Airlines,UA,International,Asia,Deplaned,Other,International,G,76730
23,201812,United Airlines,UA,United Airlines,UA,Domestic,US,Thru / Transit,Other,Terminal 3,F,99
24,201812,United Airlines,UA,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,F,427146
25,201812,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,412075
26,201812,United Airlines,UA,United Airlines,UA,Domestic,US,Thru / Transit,Other,Terminal 3,E,2
27,201812,United Airlines,UA,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,E,265472
28,201812,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,E,264444
29,201812,United Airlines,UA,United Airlines,UA,Domestic,US,Enplaned,Other,International,G,12699
...,...,...,...,...,...,...,...,...,...,...,...,...
19785,200507,United Airlines,UA,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 1,B,60939
19786,200507,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 1,B,62178
19787,200507,Korean Air Lines,KE,Korean Air Lines,KE,International,Asia,Deplaned,Other,International,A,6153
19788,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
19789,200507,US Airways,US,US Airways,US,Domestic,US,Enplaned,Low Fare,Terminal 1,B,37848
19790,200507,US Airways,US,US Airways,US,Domestic,US,Deplaned,Low Fare,Terminal 1,B,38951
19791,200507,US Airways,US,US Airways,US,Domestic,US,Enplaned,Other,Terminal 1,A,45553
19792,200507,US Airways,US,US Airways,US,Domestic,US,Deplaned,Other,Terminal 1,A,46042
19793,200507,TACA,TA,TACA,TA,International,Central America,Enplaned,Other,International,G,7031
19794,200507,TACA,TA,TACA,TA,International,Central America,Deplaned,Other,International,G,6324
19795,200507,Sun Country Airlines,SY,Sun Country Airlines,SY,Domestic,US,Enplaned,Low Fare,Terminal 1,B,4784
19796,200507,Sun Country Airlines,SY,Sun Country Airlines,SY,Domestic,US,Deplaned,Low Fare,Terminal 1,B,4827
19797,200507,SkyWest Airlines,OO,United Airlines - Pre 07/01/2013,UA,International,Canada,Enplaned,Other,Terminal 3,F,3633
19798,200507,SkyWest Airlines,OO,United Airlines - Pre 07/01/2013,UA,International,Canada,Deplaned,Other,Terminal 3,F,3688
19799,200507,SkyWest Airlines,OO,United Airlines - Pre 07/01/2013,UA,Domestic,US,Enplaned,Other,Terminal 3,F,102023
19800,200507,SkyWest Airlines,OO,United Airlines - Pre 07/01/2013,UA,Domestic,US,Deplaned,Other,Terminal 3,F,103279
19801,200507,SkyWest Airlines,OO,Delta Air Lines,DL,Domestic,US,Enplaned,Other,Terminal 1,C,6586
19802,200507,SkyWest Airlines,OO,Delta Air Lines,DL,Domestic,US,Deplaned,Other,Terminal 1,C,7262
19803,200507,Singapore Airlines,SQ,Singapore Airlines,SQ,International,Asia,Enplaned,Other,International,G,17462
19804,200507,Singapore Airlines,SQ,Singapore Airlines,SQ,International,Asia,Deplaned,Other,International,G,19211
19805,200507,Philippine Airlines,PR,Philippine Airlines,PR,International,Asia,Enplaned,Other,International,A,10269
19806,200507,Philippine Airlines,PR,Philippine Airlines,PR,International,Asia,Deplaned,Other,International,A,12828
19807,200507,Northwest Airlines,NW,Northwest Airlines,NW,International,Asia,Enplaned,Other,International,A,6554
19808,200507,Northwest Airlines,NW,Northwest Airlines,NW,International,Asia,Deplaned,Other,International,A,7229
19809,200507,Northwest Airlines,NW,Northwest Airlines,NW,Domestic,US,Enplaned,Other,Terminal 1,C,62049
19810,200507,Northwest Airlines,NW,Northwest Airlines,NW,Domestic,US,Deplaned,Other,Terminal 1,C,64231
19811,200507,Midwest Airlines,YX,Midwest Airlines,YX,Domestic,US,Enplaned,Other,Terminal 1,A,3238
19812,200507,Midwest Airlines,YX,Midwest Airlines,YX,Domestic,US,Deplaned,Other,Terminal 1,A,1797
19813,200507,Mexicana Airlines,MX,Mexicana Airlines,MX,International,Mexico,Enplaned,Other,International,G,7845
19814,200507,Mesa Airlines,YV,US Airways,US,Domestic,US,Enplaned,Other,Terminal 1,B,2535

In [26]:
#Getting the sum of passenger count based on GEO Summary (Domestic, International) and Geo Region(US, Europe, Asia,
#Canada, Mexico, Middle East)
airlines_passenger['Passenger Count'][airlines_passenger['GEO Summary'] == 'Domestic'].sum()
airlines_passenger['Passenger Count'][airlines_passenger['GEO Summary'] == 'International'].sum()
airlines_passenger['Passenger Count'][airlines_passenger['GEO Region'] == 'US'].sum()
airlines_passenger['Passenger Count'][airlines_passenger['GEO Region'] == 'Europe'].sum()
airlines_passenger['Passenger Count'][airlines_passenger['GEO Region'] == 'Asia'].sum()
airlines_passenger['Passenger Count'][airlines_passenger['GEO Region'] == 'Canada'].sum()
airlines_passenger['Passenger Count'][airlines_passenger['GEO Region'] == 'Mexico'].sum()
airlines_passenger['Passenger Count'][airlines_passenger['GEO Region'] == 'Middle East'].sum()

3210818

In [27]:
#Sorting Passenger count in descending order
airlines_passenger.sort_values( by = 'Passenger Count', ascending = False)

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
8484,201308,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,659837
8483,201308,United Airlines,UA,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,F,629003
8597,201307,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,625885
8596,201307,United Airlines,UA,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,F,622871
8250,201310,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,573619
800,201807,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,563064
8249,201310,United Airlines,UA,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,F,558030
641,201808,United Airlines,UA,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,F,557371
2481,201708,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,557002
8025,201312,United Airlines,UA,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,F,556208
799,201807,United Airlines,UA,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,F,555599
8026,201312,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,553433
642,201808,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,552489
8366,201309,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,548374
8365,201309,United Airlines,UA,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,F,544302
2480,201708,United Airlines,UA,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,F,543516
2636,201707,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,538037
964,201806,United Airlines,UA,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,F,522248
8136,201311,United Airlines,UA,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,F,522199
2635,201707,United Airlines,UA,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,F,511281
8137,201311,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,506882
965,201806,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,506400
7914,201401,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,482915
1130,201805,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,480560
328,201810,United Airlines,UA,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,F,479748
329,201810,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,477535
7913,201401,United Airlines,UA,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,F,473688
1129,201805,United Airlines,UA,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,F,473437
2171,201710,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,473183
2787,201706,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,472742
...,...,...,...,...,...,...,...,...,...,...,...,...
8433,201309,"Atlas Air, Inc",5Y,"Atlas Air, Inc",5Y,Domestic,US,Thru / Transit,Other,Other,Other,3
16379,200712,Southwest Airlines,WN,Southwest Airlines,WN,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,2
16313,200801,Ameriflight,A8,Ameriflight,A8,Domestic,US,Enplaned,Other,Other,Other,2
5082,201601,United Airlines,UA,United Airlines,UA,Domestic,US,Thru / Transit,Other,Terminal 3,E,2
16433,200712,Ameriflight,A8,Ameriflight,A8,Domestic,US,Deplaned,Other,Other,Other,2
14578,200903,United Airlines - Pre 07/01/2013,UA,United Airlines - Pre 07/01/2013,UA,International,Canada,Thru / Transit,Other,Terminal 3,F,2
17988,200610,United Airlines - Pre 07/01/2013,UA,United Airlines - Pre 07/01/2013,UA,International,Canada,Thru / Transit,Other,Terminal 3,F,2
16618,200710,Southwest Airlines,WN,Southwest Airlines,WN,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,2
26,201812,United Airlines,UA,United Airlines,UA,Domestic,US,Thru / Transit,Other,Terminal 3,E,2
6289,201503,United Airlines,UA,United Airlines,UA,International,Mexico,Thru / Transit,Other,International,G,2
17943,200611,Evergreen International Airlines,EZ,Evergreen International Airlines,EZ,International,Asia,Enplaned,Other,Other,Other,2
4690,201604,United Airlines,UA,United Airlines,UA,International,Mexico,Thru / Transit,Other,International,G,2
17944,200611,Evergreen International Airlines,EZ,Evergreen International Airlines,EZ,International,Asia,Deplaned,Other,Other,Other,2
10518,201202,WestJet Airlines,WS,WestJet Airlines,WS,International,Canada,Deplaned,Other,International,A,2
15600,200807,Ameriflight,A8,Ameriflight,A8,Domestic,US,Deplaned,Other,Other,Other,1
3468,201701,United Airlines,UA,United Airlines,UA,International,Mexico,Thru / Transit,Other,International,G,1
3487,201701,United Airlines,UA,United Airlines,UA,Domestic,US,Thru / Transit,Other,Terminal 3,E,1
2172,201710,United Airlines,UA,United Airlines,UA,Domestic,US,Thru / Transit,Other,Terminal 3,E,1
3898,201610,United Airlines,UA,United Airlines,UA,Domestic,US,Thru / Transit,Other,International,G,1
4301,201607,United Airlines,UA,United Airlines,UA,International,Canada,Thru / Transit,Other,International,G,1
4436,201606,United Airlines,UA,United Airlines,UA,International,Canada,Thru / Transit,Other,International,G,1
148,201811,WOW Air,WW,WOW Air,WW,International,Europe,Enplaned,Other,International,G,1
17960,200611,Ameriflight,A8,Ameriflight,A8,Domestic,US,Deplaned,Other,Other,Other,1
17959,200611,Ameriflight,A8,Ameriflight,A8,Domestic,US,Enplaned,Other,Other,Other,1
6549,201501,United Airlines,UA,United Airlines,UA,Domestic,US,Thru / Transit,Other,International,G,1
6771,201411,United Airlines,UA,United Airlines,UA,International,Canada,Thru / Transit,Other,International,G,1
10751,201112,United Airlines - Pre 07/01/2013,UA,United Airlines - Pre 07/01/2013,UA,International,Mexico,Thru / Transit,Other,International,G,1
16314,200801,Ameriflight,A8,Ameriflight,A8,Domestic,US,Deplaned,Other,Other,Other,1
16143,200802,Southwest Airlines,WN,Southwest Airlines,WN,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,1
5823,201507,United Airlines,UA,United Airlines,UA,Domestic,US,Thru / Transit,Other,Terminal 3,E,1

In [28]:
#Grouping Published Airline by Passenger Count
airlines_passenger1 = airlines_passenger.groupby('Published Airline')['Passenger Count'].sum()
airlines_passenger1

Published Airline
ABC Aerolineas S.A. de C.V. dba Interjet        54694
ATA Airlines                                   384764
Aer Lingus                                     867565
Aeromexico                                    1825488
Air Berlin                                     235155
Air Canada                                    9585754
Air China                                     2375014
Air France                                    3987899
Air India Limited                              382209
Air New Zealand                               2482176
Air Pacific Limited dba Fiji Airways            95303
AirTran Airways                               2388648
Alaska Airlines                              22497595
All Nippon Airways                            2099131
Allegiant Air                                   24269
American Airlines                            47561908
Ameriflight                                       110
Asiana Airlines                               2053790
Atlas Air, Inc                                     68
BelAir Airlines                                  9138
Boeing Company                                     18
British Airways                               5783031
COPA Airlines, Inc.                            523122
Cathay Pacific                                5812911
China Airlines                                3211679
China Eastern                                  987310
China Southern                                 656781
Delta Air Lines                              42992438
EVA Airways                                   4679179
Emirates                                      2458528
                                              ...
Miami Air International                          1718
Midwest Airlines                               450428
Northwest Airlines                            6266220
Pacific Aviation                                  320
Philippine Airlines                           3405321
Qantas Airways                                1194732
Republic Airlines                               58860
SAS Airlines                                   841435
Servisair                                        3242
Singapore Airlines                            4696869
Southwest Airlines                           35290189
Spirit Airlines                                 70105
Sun Country Airlines                          1474638
Swiss International                           1389873
Swissport USA                                    5103
TACA                                          1701755
Thomas Cook Airlines                            62946
Trego Dugan Aviation                              412
Turkish Airlines                               785513
US Airways                                   17196355
United Airlines                             144510216
United Airlines - Pre 07/01/2013            128314166
Virgin America                               37843920
Virgin Atlantic                               3365851
Volaris Airlines                               229845
WOW Air                                        359809
WestJet Airlines                               878408
World Airways                                     785
XL Airways France                              138126
Xtra Airways                                      146
Name: Passenger Count, Length: 79, dtype: int64

In [29]:
#Sorting Published Airline based on descending order of Passenger Count
airlines_passenger2=airlines_passenger.groupby('Published Airline')['Passenger Count'].sum().sort_values(ascending
                                                                                                           = False)
airlines_passenger2

Published Airline
United Airlines                             144510216
United Airlines - Pre 07/01/2013            128314166
American Airlines                            47561908
Delta Air Lines                              42992438
Virgin America                               37843920
Southwest Airlines                           35290189
Alaska Airlines                              22497595
US Airways                                   17196355
JetBlue Airways                              12156008
Air Canada                                    9585754
Lufthansa German Airlines                     6382505
Northwest Airlines                            6266220
Frontier Airlines                             6090667
Cathay Pacific                                5812911
British Airways                               5783031
Singapore Airlines                            4696869
EVA Airways                                   4679179
Air France                                    3987899
Philippine Airlines                           3405321
Virgin Atlantic                               3365851
China Airlines                                3211679
Hawaiian Airlines                             3186982
KLM Royal Dutch Airlines                      3180888
Air New Zealand                               2482176
Emirates                                      2458528
AirTran Airways                               2388648
Air China                                     2375014
Korean Air Lines                              2263228
All Nippon Airways                            2099131
Japan Airlines                                2085936
                                              ...
LAN Peru                                       250741
Air Berlin                                     235155
Volaris Airlines                               229845
XL Airways France                              138126
Air Pacific Limited dba Fiji Airways            95303
Hong Kong Airlines Limited                      89993
French Bee                                      88272
Spirit Airlines                                 70105
Jet Airways                                     68485
Independence Air                                63913
Thomas Cook Airlines                            62946
Finnair                                         62340
Republic Airlines                               58860
Icelandair                                      55994
ABC Aerolineas S.A. de C.V. dba Interjet        54694
Icelandair EHF                                  47880
Iberia                                          43043
Allegiant Air                                   24269
BelAir Airlines                                  9138
Swissport USA                                    5103
Servisair                                        3242
Miami Air International                          1718
World Airways                                     785
Trego Dugan Aviation                              412
Pacific Aviation                                  320
Xtra Airways                                      146
Ameriflight                                       110
Atlas Air, Inc                                     68
Boeing Company                                     18
Evergreen International Airlines                    4
Name: Passenger Count, Length: 79, dtype: int64

In [30]:
#Grouping Geo Summary & Published Airline by Passenger Count
airlines_passenger3 = airlines_passenger.groupby(['GEO Summary','Published Airline'])['Passenger Count'].sum()
airlines_passenger3

GEO Summary    Published Airline
Domestic       ATA Airlines                                   383773
               AirTran Airways                               2388648
               Alaska Airlines                              19474872
               Allegiant Air                                   24269
               American Airlines                            47561908
               Ameriflight                                       110
               Atlas Air, Inc                                     68
               Boeing Company                                     18
               Delta Air Lines                              42494197
               Frontier Airlines                             6090667
               Hawaiian Airlines                             3186982
               Independence Air                                63913
               JetBlue Airways                              12156008
               Miami Air International                          1690
               Midwest Airlines                               450428
               Northwest Airlines                            5551459
               Republic Airlines                               58860
               Servisair                                        3210
               Southwest Airlines                           35290189
               Spirit Airlines                                 70105
               Sun Country Airlines                          1459438
               Swissport USA                                    1698
               Trego Dugan Aviation                              412
               US Airways                                   17196355
               United Airlines                             122785318
               United Airlines - Pre 07/01/2013            102271342
               Virgin America                               36992619
               World Airways                                     271
               Xtra Airways                                      146
International  ABC Aerolineas S.A. de C.V. dba Interjet        54694
                                                             ...
               Japan Airlines                                2085936
               Jet Airways                                     68485
               KLM Royal Dutch Airlines                      3180888
               Korean Air Lines                              2263228
               LAN Peru                                       250741
               Lufthansa German Airlines                     6382505
               Mexicana Airlines                              991232
               Miami Air International                            28
               Northwest Airlines                             714761
               Pacific Aviation                                  320
               Philippine Airlines                           3405321
               Qantas Airways                                1194732
               SAS Airlines                                   841435
               Servisair                                          32
               Singapore Airlines                            4696869
               Sun Country Airlines                            15200
               Swiss International                           1389873
               Swissport USA                                    3405
               TACA                                          1701755
               Thomas Cook Airlines                            62946
               Turkish Airlines                               785513
               United Airlines                              21724898
               United Airlines - Pre 07/01/2013             26042824
               Virgin America                                 851301
               Virgin Atlantic                               3365851
               Volaris Airlines                               229845
               WOW Air                                        359809
               WestJet Airlines                               878408
               World Airways                                     514
               XL Airways France                              138126
Name: Passenger Count, Length: 91, dtype: int64

In [31]:
#Grouping Geo Summary, Geo Region & Published Airline by Passenger Count
airlines_passenger4 = airlines_passenger.groupby(['GEO Summary','GEO Region',
                                                  'Published Airline'])['Passenger Count'].sum()
airlines_passenger4

GEO Summary    GEO Region     Published Airline
Domestic       US             ATA Airlines                                   383773
                              AirTran Airways                               2388648
                              Alaska Airlines                              19474872
                              Allegiant Air                                   24269
                              American Airlines                            47561908
                              Ameriflight                                       110
                              Atlas Air, Inc                                     68
                              Boeing Company                                     18
                              Delta Air Lines                              42494197
                              Frontier Airlines                             6090667
                              Hawaiian Airlines                             3186982
                              Independence Air                                63913
                              JetBlue Airways                              12156008
                              Miami Air International                          1690
                              Midwest Airlines                               450428
                              Northwest Airlines                            5551459
                              Republic Airlines                               58860
                              Servisair                                        3210
                              Southwest Airlines                           35290189
                              Spirit Airlines                                 70105
                              Sun Country Airlines                          1459438
                              Swissport USA                                    1698
                              Trego Dugan Aviation                              412
                              US Airways                                   17196355
                              United Airlines                             122785318
                              United Airlines - Pre 07/01/2013            102271342
                              Virgin America                               36992619
                              World Airways                                     271
                              Xtra Airways                                      146
International  Asia           Air China                                     2375014
                                                                            ...
               Europe         Icelandair EHF                                  47880
                              KLM Royal Dutch Airlines                      3180888
                              Lufthansa German Airlines                     6382505
                              Pacific Aviation                                  320
                              SAS Airlines                                   841435
                              Servisair                                          32
                              Swiss International                           1389873
                              Swissport USA                                    2721
                              Thomas Cook Airlines                            62946
                              Turkish Airlines                               785513
                              United Airlines                               4330932
                              United Airlines - Pre 07/01/2013              5072061
                              Virgin Atlantic                               3365851
                              WOW Air                                        359809
                              World Airways                                     514
                              XL Airways France                              138126
               Mexico         ABC Aerolineas S.A. de C.V. dba Interjet        54694
                              Aeromexico                                    1825488
                              Alaska Airlines                               2527517
                              Mexicana Airlines                              991232
                              Sun Country Airlines                            15200
                              United Airlines                               3052474
                              United Airlines - Pre 07/01/2013              2108812
                              Virgin America                                 811116
                              Volaris Airlines                               229845
               Middle East    Emirates                                      2458528
                              Etihad Airways                                 395594
                              United Airlines                                356696
               South America  LAN Peru                                       250741
                              United Airlines                                    81
Name: Passenger Count, Length: 107, dtype: int64

In [32]:
#Sorting Passenger Count in descending order
airlines_passenger.groupby(['GEO Summary','GEO Region',
                            'Published Airline'])['Passenger Count'].sum().sort_values(ascending = False)

GEO Summary    GEO Region           Published Airline
Domestic       US                   United Airlines                             122785318
                                    United Airlines - Pre 07/01/2013            102271342
                                    American Airlines                            47561908
                                    Delta Air Lines                              42494197
                                    Virgin America                               36992619
                                    Southwest Airlines                           35290189
                                    Alaska Airlines                              19474872
                                    US Airways                                   17196355
International  Asia                 United Airlines - Pre 07/01/2013             12816172
Domestic       US                   JetBlue Airways                              12156008
International  Asia                 United Airlines                               9666133
               Canada               Air Canada                                    9585754
               Europe               Lufthansa German Airlines                     6382505
Domestic       US                   Frontier Airlines                             6090667
International  Asia                 Cathay Pacific                                5812911
               Europe               British Airways                               5783031
Domestic       US                   Northwest Airlines                            5551459
International  Europe               United Airlines - Pre 07/01/2013              5072061
               Asia                 Singapore Airlines                            4696869
                                    EVA Airways                                   4679179
               Canada               United Airlines - Pre 07/01/2013              4411845
               Europe               United Airlines                               4330932
                                    Air France                                    3987899
               Asia                 Philippine Airlines                           3405321
               Europe               Virgin Atlantic                               3365851
               Asia                 China Airlines                                3211679
Domestic       US                   Hawaiian Airlines                             3186982
International  Europe               KLM Royal Dutch Airlines                      3180888
               Canada               United Airlines                               3179340
               Mexico               United Airlines                               3052474
                                                                                  ...
               Europe               Icelandair                                      55994
               Mexico               ABC Aerolineas S.A. de C.V. dba Interjet        54694
               Europe               French Bee                                      48286
                                    Icelandair EHF                                  47880
                                    Iberia                                          43043
               Canada               Virgin America                                  40185
               Australia / Oceania  French Bee                                      39986
Domestic       US                   Allegiant Air                                   24269
International  Mexico               Sun Country Airlines                            15200
               Europe               BelAir Airlines                                  9138
Domestic       US                   Servisair                                        3210
International  Europe               Swissport USA                                    2721
Domestic       US                   Swissport USA                                    1698
                                    Miami Air International                          1690
International  Canada               ATA Airlines                                      991
               Europe               World Airways                                     514
               Central America      Swissport USA                                     468
Domestic       US                   Trego Dugan Aviation                              412
International  Europe               Pacific Aviation                                  320
Domestic       US                   World Airways                                     271
International  Asia                 Swissport USA                                     216
Domestic       US                   Xtra Airways                                      146
                                    Ameriflight                                       110
International  South America        United Airlines                                    81
Domestic       US                   Atlas Air, Inc                                     68
International  Central America      United Airlines                                    62
               Europe               Servisair                                          32
               Canada               Miami Air International                            28
Domestic       US                   Boeing Company                                     18
International  Asia                 Evergreen International Airlines                    4
Name: Passenger Count, Length: 107, dtype: int64

In [33]:
##Creating the cleaned Excel file for the airlines passengers data 
writer = pd.ExcelWriter('AIRLINES_PASSENGER.xlsx')
airlines_passenger1.to_excel(writer,'Airlines Passenger')
airlines_passenger2.to_excel(writer,'Airlines Passenger Descending')
airlines_passenger3.to_excel(writer,'Passengers Geo')
airlines_passenger4.to_excel(writer,'Passengers Geo Region')
writer.save()